<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://kit.fontawesome.com/3fbc68957e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <title>Collection</title>
  </head>
  <body>
    {{! Navbar start }}
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">Soal-4</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
          </div>
        </div>
        {{#if isLogin}}
          <p class="me-3 text-light">Welcome, {{user.username}}</p>
          <a href="/logout" class="btn btn-light text-decoration-none me-3">Logout</a>
        {{else}}
          <a href="/login" class="btn btn-light text-decoration-none me-3">Login</a>
          <a href="/register" class="btn btn-light text-decoration-none">register</a>
        {{/if}}
      </div>
    </nav>
    {{! Navbar end }}

    {{! Coleection Form }}
    <div class="container my-5" style="width: 30%;">
      <form action="/collection" method="post">
        <input type="hidden" name="userId" value="{{user.id}}" />
        <div>
          <label for="InputCollection" class="form-label">Collection Name</label>
          <input type="text" class="form-control border-dark mb-2" id="InputCollectionName" name="collectionName" />
        </div>
        <div class="btn-submit d-flex justify-content-end">
          <button type="submit" class="btn btn-dark border-0">Add</button>
        </div>
      </form>
    </div>
    {{! Coleection Form End}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>